# dependencies
node_modules/
.pnp
.pnp.*

# production/build
dist/
build/
out/
.next/

# secrets (STAY SAFE)
.env
.env.*
*.pem
*.key

# debug and misc
npm-debug.log*
yarn-debug.log*
.DS_Store
*.sqlite
